body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.row {
  display: flex;

  &:nth-child(even) {
    background-color: var(--grey-color);
  }
}
.col {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  flex: 1;

  &:hover {
    opacity: 0.7;
    transition: 0.2s;
  }
}

.button {
  &_success {
    background-color: var(--success-color);
  }

  &_error {
    color: var(--error-color);
  }

  &_info {
    color: var(--info-color);
  }
}

